.GalleryText {
    width: 100%;
    height: 90%;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

.containerG {
    position: relative;
    display: grid;
    padding: 0px 185px;
    /* padding-bottom: 15vh; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}

.title-galery {
    position: relative;
    top: -6vw;
    overflow: hidden;
    grid-column-end: 12;
    grid-column-start: 7;
    grid-row-end: 3;
    grid-row-start: 1;
}

.title-galery h2 {
    font-size: 7vw;
    margin: auto;
    color: #fff;
}

.paragrafText {
    font-size: 14vw;
    margin: auto;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #212932;
    position: absolute;
    top: 0;
}

@media  (max-width: 679px) {
    .containerG {
        padding: 0px 0px;
        display: flex;
        
    }
}